[user]
  name = Bennie Mosher
{{ if index . "work_platform" -}}
  email = your-work-email@company.com
{{ else -}}
  email = benniemosher@gmail.com
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ if index . "work_platform" -}}
  signingkey = {{ output "bash" "-c" "gpg --list-secret-keys --keyid-format LONG 2>/dev/null | grep sec | head -1 | awk '{print $2}' | cut -d'/' -f2" | trim }}
{{ else -}}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHiLyzXgt7jnveA00YXLH5euotmhiTJPLsxcLMbL1Qk/
{{ end -}}
{{ end -}}

[alias]
  s = status
  co = checkout
[credential]
  helper = cache --timeout=3600
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  ignorecase = false

{{ if eq .chezmoi.os "darwin" -}}
[commit]
  gpgsign = true
{{ end -}}

[push]
  default = current
[pull]
  default = current
  ff = only
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

{{ if eq .chezmoi.os "darwin" -}}
[gpg]
{{ if index . "work_platform" -}}
  format = openpgp
{{ else -}}
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end -}}
{{ end -}}

[init]
  defaultBranch = main

{{ if eq .chezmoi.os "darwin" -}}
[safe]
  directory = /opt/homebrew
{{ end -}}

[credential "https://github.com"]
{{ if eq .chezmoi.os "darwin" -}}
  helper = !/opt/homebrew/bin/gh auth git-credential
{{ else if eq .chezmoi.os "linux" -}}
  helper = !/usr/bin/gh auth git-credential
{{ end -}}
[credential "https://gist.github.com"]
{{ if eq .chezmoi.os "darwin" -}}
  helper = !/opt/homebrew/bin/gh auth git-credential
{{ else if eq .chezmoi.os "linux" -}}
  helper = !/usr/bin/gh auth git-credential
{{ end -}}
