[user]
  name = Bennie Mosher
  email = benniemosher@gmail.com

{{ if and (eq .chezmoi.os "darwin") (not (index . "work_platform")) -}}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHiLyzXgt7jnveA00YXLH5euotmhiTJPLsxcLMbL1Qk/
{{ else if eq .chezmoi.os "darwin" }}
  signingkey = $HOME/.ssh/id_ed25519.pub
{{ end }}

[alias]
  s = status
  co = checkout
[credential]
  helper = cache --timeout=3600
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  ignorecase = false

{{ if and (eq .chezmoi.os "darwin") (not (index . "work_platform")) -}}
[commit]
  gpgsign = true
{{ end }}

[push]
  default = current
[pull]
  default = current
  ff = only
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

{{ if and (eq .chezmoi.os "darwin") (not (index . "work_platform")) -}}
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end }}

[init]
  defaultBranch = main

{{ if eq .chezmoi.os "darwin" }}
[safe]
  directory = /opt/homebrew
{{ end }}

[credential "https://github.com"]
  {{ if eq .chezmoi.os "darwin" }}
  helper = !$(brew --prefix)/bin/gh auth git-credential
  {{ else if eq .chezmoi.os "linux" }}
  helper = !$(which gh) auth git-credential
  {{ end }}
[credential "https://gist.github.com"]
  {{ if eq .chezmoi.os "darwin" }}
  helper = !$(brew --prefix)/bin/gh auth git-credential
  {{ else if eq .chezmoi.os "linux" }}
  helper = !$(which gh) auth git-credential
  {{ end }}
